.navbar {
  background-color: var(--primary-beige);
  &__logo {
    background-color: var(--primary-orange);
    color: white;
    align-content: center;
    padding: 1rem;
  }

  &__right {
    float: right;
  }
}
