.news-list {
  &__card {
    margin: 1rem;
  }
}

.mat-paginator {
  position: fixed;
  bottom: 4rem;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
